root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120
tab_width = unset

[*.{json,py}]
tab_width = 4
indent_size = 4

[*.{yaml,yml,sql,sh}]
tab_width = 2
indent_size = 2

# optional but recommended
ij_continuation_indent_size = 4
